/* .signupCard {
  padding: 20%;
} */

.signupCard {
  max-width: 55%;
}

@media (max-width: 720px) {
  .signupCard {
    padding: 10px;
    max-width: 100%;
  }
}

.signUpSubmit {
  padding: 1.5rem;
  width: 100%;
  background-color: green;
  color: white;
  border-radius: 10px;
}

.signUpTop {
  padding: 1.5rem;
  width: 100%;
  background-color: rgb(27, 27, 153);
  color: white;
  border-radius: 10px;
  font-size: 1.1rem;
  /* padding-bottom: 1.5rem; */
}

.card1 {
  margin-top: 1.5rem;
}

.formLast {
  color: gray;
  text-align: center;
}

.formValid {
  color: red;
}

.input1 {
  margin-bottom: 2rem;
}

.formdata1 {
  width: 45rem;
  height: 3rem;
  border: 1px solid black;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
}

@media (max-width: 720px) {
  .formdata1 {
    width: 100%;
    height: 2rem;
  }
}

.form1 {
  width: 500px;
}
